---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
const info = {
    name: "Miguel Espinoza",
    description: "Software Engineering",
    phoneNumber: "0123456789",
    email: "miguel@gmail.com",
    address: "Miguel Street Address",
}
---

<section class="bg-gradient-to-b from-black via-blue-500 to-blue border border-solid border-black p-9 rounded-sm">
    <p class="font-mono text-xl leading-tight">
        {info.name}
    </p>
    <br/>
    {info.description}
    <br/>
    {info.phoneNumber}
    <br/>
    {info.email}
    <br/>
    {info.address}
</section>
